*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #f6f8f9;
  }
  
  header {
    height: 70px;
    padding-top: 10px;
    margin-bottom: 30px;
    background-color: #FFFFFF;
  }
  
  .logo {
    vertical-align: middle;
    padding-left: 20px;
  }
  
  .titolo {
    display: inline;
    vertical-align: middle;
    font-weight: bold;
    font-size: 40px;
    font-family: arial;
  }
  
 